<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- В учебных целях: можно включать расширенный лог EF, не меняя код -->
		<add key="EfEnableDetailedErrors" value="false" />
		<add key="EfEnableSensitiveDataLogging" value="false" />
	</appSettings>
	<connectionStrings>
		<add name="AutoServiceDb" connectionString="Data Source=AutoService.db" providerName="System.Data.SQLite" />
	</connectionStrings>
</configuration>